name: CI pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
    project-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                python-version: '3.10'
            - name: install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install dvc[s3]
                pip install -r requirements.txt
            - name: run dvc pipeline
              run: |
                dvc repro
              


